{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : NeuralWatch 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140123

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">AINET</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Accueil</a></li>
				<li><a href="#" accesskey="2" title="">Support et contact</a></li>
				<li><a href="/ainet/logout" accesskey="3" title="">Déconnexion</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Tableau de bord</h2>
			<span class="byline">Votre système de reporting et détection d'anomalies</span> </div>
		<div id="three-column">
				<a href="/ainet/cams">
			<div class="boxA">
				<div class="box"> <span class="fa fa-user"></span>
					<p>Cameras et flux</p>
				</div>
			</div>
		</a>
		<a href="/ainet/reports">
			<div class="boxB">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Reporting</p>
				</div>
			</div>
		</a>
		<a href="/ainet/settings">
			<div class="boxC">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Réglages</p>
				</div>
			</div>
		</a>	
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;2018 AINET. All rights reserved.</p>
</div>
</body>
</html>
