{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : NeuralWatch 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140123

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/bootstrap-confirm.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'table/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/confirm.js' %}"></script>



<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>  
        
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">AINET</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/ainet" accesskey="1" title="">Accueil</a></li>
				<li><a href="#" accesskey="2" title="">Support et contact</a></li>
				<li><a href="/ainet/logout" accesskey="3" title="">Déconnexion</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Mes Sites</h2>
			<span class="byline">Locations</span> </div>
		
	</div>

	<table class="minimalistBlack">
		<thead>
		<tr>
		<div><a href="/ainet/add_site"><input class="btn-gradient blue mini" type="submit" id="add" value="Ajouter Site"></a></div>
		<th>Nom</th>
		<th>Addresse</th>
		<th>Ville</th>
        <th>Pays</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			{% for site in sites %}
                <td>{{site.name}}</td><td>{{site.address}}</td><td>{{site.city}}</td><td>{{site.country}}</td><td><form action="{% url 'delete_site' pk=site.pk %}" method="POST">
					{% csrf_token %}
					<input class="btn-gradient red mini" type="submit" id="confirm" value="Supprimer">					
					
				  </form></td>
				  <td><form action="{% url 'update_site' pk=site.pk %}" method="POST">
					{% csrf_token %}
					<input class="btn-gradient green mini" type="submit" id="" value="Modifier">					
					
				  </form></td>
            </tr>
			{% endfor %}	
		</tbody>
		</tr>
		</table>
</div>

    
<div id="copyright" class="container">
	<p>&copy;2018 AINET. All rights reserved.</p>
</div>
</body>
</html>
